body {
  font-family: "Raleway", sans-serif;
}
.menu img{
  width: 150px;
  height: 40px;
  object-fit: cover;
}

/* Hero Section */
#Hero-Section {
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
/* Figma Section */
#Figma-Section {
  background-image: url("../img/LMW.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
.texto-justificado{
  text-align: justify;
  }

  /*banner*/
  
.body {
  background: #ffffff;
  padding: 50px 0;
}

.nav {
  font-family:  "Raleway", sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #00A99D;
  border-right: 3px solid #00A99D;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #00A99D;
  border-left: 3px solid #00A99D;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #EED1C9;
}